html{
  box-sizing: border-box;
  font-size: 0.65rem;

}

* {
  box-sizing: inherit;
  margin: 5px;
  padding: 0px;
  text-align: center;
  font-size: 2rem;

}

body{
  display: flex;
  flex-direction: column;

}

main{
  border-radius: 5px;
  border: 5px solid thistle;

}

ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  flex-wrap: wrap;

}


/* 1: Select and style every <li> element that is the first child of its parent*/
li:first-child { 
  background-color: bisque;


}


/*Select and style the first child element of every <ul> element*/
ul > :first-child {
  font-style: underline;
  color:rgb(255, 0, 157);
  
}



/*Select and style the first letter of every <p> element*/
li::first-letter {
  font-size: 200%;
  color: rgb(82, 6, 92);
}
/* >>>>>>>The following properties can be used with ::first-letter: 
font properties
color properties
background properties
margin properties
padding properties
border properties
text-decoration
vertical-align (only if float is 'none')
text-transform
line-height
float
clear<<<<<<<<*/


/*Select and style the first line of every <p> element:*/
p::first-line {
  background-color: rgb(0, 255, 255);
}


/*Specify a background color for the first <h1> element of its parent:*/
h1:first-of-type {
  background: rgb(197, 170, 214);
}

/*Select and style a link when you mouse over it*/
a:hover {
  background-color: rgb(187, 255, 0);
}

a {
  text-decoration: none;
}




li {
    /* You need to change the flex-grow value to 1, which means each flex items will grow equally when there are spaces.  The value 0 means they will stay the width of its content, they will not grow wider.*/
    flex-grow: 1;   
    flex-shrink: 0;/*Because you set it too at least 300 px.  You change flex-shrink to "1", it means the items will shrink when there’s less space.Usually the screen size is more than 300 px. It won’t get that small*/
    flex-basis: 280px; /*this is the equal measure 25rem */
    margin: 1rem;
    padding: 1rem;
  }


li {
  background-color: skyblue;
  margin: 3px;
  color: white;
 
 

}



