html{
  background-color: oldlace;
  box-sizing: border-box;
   /* set to the  root size to 10 px */
    font-size: 0.625em;
}

*{
  box-sizing: inherit;
  font-size: 2rem;
  margin:0;
  padding: 0px;
  text-align: center;
}

body{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(170, 57, 57);
  }
  

main {
    background: #bbdaba;
    margin: 5rem auto;
    padding: 5rem;
    text-align: center;
    width: 90%;
}

h1 {
    color: rgb(90, 15, 15);
    font-size: 3.8rem;
    font-weight: larger;
    margin: 4rem 0;
    text-transform: uppercase;
}


ul {
    
    border: 5px solid #f76707;
    border-radius: 5px;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);/*this means exactly like: grid-template-columns:1fr 1fr 1fr;*/
    grid-auto-rows: minmax(300px, auto);/*this means automatically created will be minmum of 300px pixels tall, and a maximum of auto.Using auto means that the size will look at the content size and will stretch to give space for the tallest item in a cell, in this row.*/
    grid-gap: 3rem;
}


li{
  background-color: rgb(112, 119, 97);
  color: white;
}

p{
  color: wheat;
}