html{
  background-color: oldlace;
  box-sizing: border-box;
   /* set to the  root size to 10 px */
    font-size: 0.625em;
    position: relative;
}

*{
  box-sizing: inherit;
  font-size: 3rem;
  margin:0;
  padding: 0;
  text-align: center;
  position: relative;
 
}

body{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(170, 57, 57);
  }
  


/*
  *{
   
    font-size: 6rem;
    margin:0;
    padding:0;
    text-align: center;
   
  }
  */

nav li{
  list-style: none;
}



.background{

  margin:10px;
  
  display: grid;
  /*grid-template-columns: 100px auto;*/
  /*grid-template-columns: 1fr 1fr 1fr;/*same= repeat(3,1fr);*/
  grid-template: repeat(3, 100px) / repeat(3,1fr);/*starts with the rows and then with the columns*/
  /*grid-template-rows:50px  50px 200px; */
   grid-gap: 4px;
 
  
 
 

  text-align: center;
  
 
 
}

nav ul li:nth-child(1){
  background-color: rgb(138, 138, 194);
  color: white;
  border:5px solid rgb(168, 151, 168);
  border-radius: 5px;
}

nav ul li:nth-child(2){
  background-color: rgb(255, 179, 166);

  color:azure;
   border:5px solid rgb(131, 120, 131);
  border-radius: 5px;

}

nav ul li:nth-child(3){
  background-color: rgb(233, 106, 191);
  color:aliceblue;
   border:5px solid rgb(104, 76, 104);
  border-radius: 5px;
}

nav ul li:nth-child(4){
  background-color: turquoise;
   color: white;
   border:5px solid rgb(104, 76, 104);
  border-radius: 5px;
}

nav ul li:nth-child(5){
  background-color: skyblue;
  color: whitesmoke;
  border:5px solid rgb(104, 76, 104);
  border-radius: 5px;
}

nav ul li:nth-child(6){
  background-color: salmon;
  color: white;
  border:5px solid rgb(104, 76, 104);
  border-radius: 5px;

}

main :nth-child(1){
  background-color: lightpink;
  color: skyblue;
  text-align: center;
  border:2px solid rgb(104, 76, 104);
  border-radius: 5px;


}
main :nth-child(2){
  background-color: lightblue;
  color:lightcoral;
  text-align: center;
  border:2px solid rgb(104, 76, 104);
  border-radius: 5px;
 
}


main{
  text-align: center;
  margin:10px;
  position: relative;
  display: grid;
  grid-template-columns: 200px auto;
  grid-template-rows: 200px 100px;
}


